<span class="block education_modules_container">
  <ul class="education_modules_list">
    <% @course.course_modules.each do |course_module| %>
      <li>
        <%= course_module.name %>

        <ul>
          <% course_module.lessons.order("order_number ASC").each do |lesson| %>
            <li>
              <%= link_to lesson.name, show_lesson_education_course_path(lesson) %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</span>
