<section>
  <div class="col-sm-12">
    <span class="block education_course_heading">
      <%= @course.name %>
    </span>

    <span class="block education_course_description">
      <%= @course.description %>
    </span>
  </div>

  <div class="col-sm-12 no_side_padding padding_top_50px">
    <div class="col-sm-4">
      <%= render 'left_navbar' %>
    </div>

    <div class="col-sm-8">
      <span class="block education_lesson_heading">
        <%= @first_lesson.name %>
      </span>

      <span class="block education_lesson_description">
        <%= @first_lesson.description %>
      </span>

      <% @first_lesson.videos.each do |video| %>
        <span class="block education_lesson_video_container">
          <%= video.embed_code.html_safe %>
        </span>
      <% end %>

      <span class="block education_lesson_pdf_container">
        <%= link_to "PDF file", @course.lessons.first.pdf.url, class: "" %>
      </span>
    </div>
  </div>
</section>
