<section>
  <div class="container">
    <div class="col-sm-12 text-center login_form_container">
      <span class="inline_block text-left login_inner_form_container">
        <span class="block login_form_heading">
          Sign up
        </span>

        <span class="block login_form_heading">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <span class="block login_form_errors_container">
              <%= f.error_notification %>
            </span>

            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true, input_html: { class: 'login_form_input' }, wrapper_html: { class: 'login_form_input_container' } %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { class: 'login_form_input' }, wrapper_html: { class: 'login_form_input_container' } %>
              <%= f.input :password_confirmation, required: true, input_html: { class: 'login_form_input' }, wrapper_html: { class: 'login_form_input_container' } %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Sign up", class: 'login_form_submit' %>
            </div>
          <% end %>
        </span>

        <%= render "devise/shared/links" %>
      </span>
    </div>
  </div>
</section>
