<span class="block login_form_links_container">
  <% if controller_name != 'sessions' %>
    <span class="block login_form_link_container">
      <%= link_to "Log in", new_session_path(resource_name) %>
    </span>
  <% end %>

  <% if devise_mapping.registerable? && controller_name != 'registrations' %>
    <span class="block login_form_link_container">
      <%= link_to "Sign up", new_registration_path(resource_name) %>
    </span>
  <% end %>

  <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <span class="block login_form_link_container">
      <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    </span>
  <% end %>

  <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <span class="block login_form_link_container">
      <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
    </span>
  <% end %>

  <% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <span class="block login_form_link_container">
      <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>
    </span>
  <% end %>

  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <span class="block login_form_link_container">
        <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %>
      </span>
    <% end %>
  <% end %>
</span>
