<section>
  <div class="container">
    <div class="col-sm-12 admin_form_heading">
      Teachers
    </div>

    <div class="col-sm-12">
      <p id="notice"><%= notice %></p>

      <table class="table admin_table">
        <thead>
          <tr>
            <th>
              Name
            </th>

            <th>
              Social Media Links
            </th>

            <th>
              Avatar
            </th>

            <th>
              Actions
            </th>
          </tr>
        </thead>

        <tbody>
          <% @teachers.each do |teacher| %>
            <tr>
              <td>
                <%= teacher.full_name %>
              </td>

              <td>
                <% if teacher.website_url? %>
                  <%= link_to "Website", teacher.website_url, class: "admin_table_video_link" %>
                <% end %>

                <% if teacher.insta_url? %>
                  <%= link_to "Instagram", teacher.insta_url, class: "admin_table_video_link" %>
                <% end %>

                <% if teacher.fb_url? %>
                  <%= link_to "Facebook", teacher.fb_url, class: "admin_table_video_link" %>
                <% end %>

                <% if teacher.vk_url? %>
                  <%= link_to "Vkontakte", teacher.vk_url, class: "admin_table_video_link" %>
                <% end %>
              </td>

              <td>
                <% if teacher.avatar? %>
                  <%= image_tag teacher.avatar.url(:thumb) %>
                <% end %>
              </td>

              <td>
                <%= link_to 'Show', admin_teacher_path(teacher) %>

                <%= link_to 'Edit', edit_admin_teacher_path(teacher) %>

                <%= link_to 'Destroy', admin_teacher_path(teacher), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Teacher', new_admin_teacher_path %>
    </div>
  </div>
</section>
