<%= simple_form_for [:admin, @article] do |f| %>
  <%= f.input :title, input_html: { class: "admin_form_input" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :description, :as => :ckeditor, input_html: { ckeditor: { toolbar: 'Full', height: 600, width: 1110 }, class: "admin_form_input textarea" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :main_img, as: :file, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :active, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :tag_list, label: "Тэги(через запятую, без решетки)", as: :text %>

  <%= f.button :submit, class: "btn btn-success" %>
<% end %>
