<section>
  <div class="container">
    <div class="col-sm-12 admin_form_heading">
      Articles
    </div>

    <div class="col-sm-12">
      <p id="notice"><%= notice %></p>

      <table class="table admin_table">
        <thead>
          <tr>
            <th>
              Title
            </th>

            <th>
              Main Img
            </th>

            <th>
              Tags
            </th>

            <th>
              Active
            </th>

            <th>
              Actions
            </th>
          </tr>
        </thead>

        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td>
                <%= article.title %>
              </td>

              <td>
                <%= image_tag article.main_img.url(:thumb) %>
              </td>

              <td>
                <%= article.tag_list %>
              </td>

              <td>
                <%= article.active? %>
              </td>

              <td>
                <%= link_to 'Edit', edit_admin_article_path(article) %>

                <%= link_to 'Destroy', admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Article', new_admin_article_path %>
    </div>
  </div>
</section>
