<%= simple_form_for [:admin, @lesson] do |f| %>
  <%= f.input :name, input_html: { class: "admin_form_input" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :description, input_html: { class: "admin_form_input textarea" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :video_url, input_html: { class: "admin_form_input" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.association :course, prompt: "Choose a course", wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.association :course_module, prompt: "Choose a course module", wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :order_number, input_html: { class: "admin_form_input" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :timing, input_html: { class: "admin_form_input" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :skill_lvl, input_html: { class: "admin_form_input" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :pdf, as: :file, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.button :submit, class: "btn btn-success" %>
<% end %>
