<section>
  <div class="container">
    <div class="col-sm-12 admin_form_heading">
      Lessons
    </div>

    <div class="col-sm-12">
      <p id="notice"><%= notice %></p>

      <table class="table admin_table">
        <thead>
          <tr>
            <th>
              Name
            </th>

            <th>
              Course
            </th>

            <th>
              Module
            </th>

            <th>
              Video URL
            </th>

            <th>
              PDF
            </th>

            <th>
              Order Number
            </th>

            <th>
              Timing
            </th>

            <th>
              Skill LVL
            </th>

            <th>
              Actions
            </th>
          </tr>
        </thead>

        <tbody>
          <% @lessons.each do |lesson| %>
            <tr>
              <td>
                <%= lesson.name %>
              </td>

              <td>
                <%= lesson.course.name %>
              </td>

              <td>
                <%= lesson.course_module.name %>
              </td>

              <td>
                <%= link_to "Video URL", lesson.video_url, class: "admin_table_video_link" %>
              </td>

              <td>
                <%= link_to "PDF file", lesson.pdf.url, class: "admin_table_video_link" %>
              </td>

              <td>
                <%= lesson.order_number %>
              </td>

              <td>
                <%= lesson.timing %>
              </td>

              <td>
                <%= lesson.skill_lvl %>
              </td>

              <td>
                <%= link_to 'Show', admin_lesson_path(lesson) %>

                <%= link_to 'Edit', edit_admin_lesson_path(lesson) %>

                <%= link_to 'Destroy', admin_lesson_path(lesson), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Lesson', new_admin_lesson_path %>
    </div>
  </div>
</section>
