<section>
  <div class="container">
    <div class="col-sm-12 admin_form_heading">
      Orders
    </div>

    <div class="col-sm-12">
      <p id="notice"><%= notice %></p>

      <table class="table admin_table">
        <thead>
          <tr>
            <th>
              Buyer
            </th>

            <th>
              Course
            </th>

            <th>
              Status
            </th>

            <th>
              Price
            </th>

            <th>
              Date
            </th>

            <th>
              Actions
            </th>
          </tr>
        </thead>

        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td>
                <%= order.user.full_name %>
              </td>

              <td>
                <%= order.order_items.first.course.name %>
              </td>

              <td>
                <%= order.order_status.name %>
              </td>

              <td>
                <%= order.order_items.first.course.price %>
              </td>

              <td>
                <%= order.updated_at.strftime("%d.%m.%Y - %H:%M") %>
              </td>

              <td>
                <%= link_to 'Show', admin_order_path(order) %>

                <%= link_to 'Edit', edit_admin_order_path(order) %>

                <%= link_to 'Destroy', admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Order', new_admin_order_path %>
    </div>
  </div>
</section>
