<%= simple_form_for [:admin, @task] do |f| %>
  <%= f.input :name, input_html: { class: "admin_form_input" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :description, input_html: { class: "admin_form_input textarea" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.association :lesson, prompt: "Choose a lesson", wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :active, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.button :submit, class: "btn btn-success" %>
<% end %>
