<section>
  <div class="container">
    <div class="col-sm-12 admin_form_heading">
      Tasks
    </div>

    <div class="col-sm-12">
      <p id="notice"><%= notice %></p>

      <table class="table admin_table">
        <thead>
          <tr>
            <th>
              Name
            </th>

            <th>
              Description
            </th>

            <th>
              Lesson
            </th>

            <th>
              Active
            </th>

            <th>
              Actions
            </th>
          </tr>
        </thead>

        <tbody>
          <% @tasks.each do |task| %>
            <tr>
              <td>
                <%= task.name %>
              </td>

              <td>
                <%= task.description %>
              </td>

              <td>
                <%= task.lesson.name %>
              </td>
              
              <td>
                <%= task.active? %>
              </td>

              <td>
                <%= link_to 'Show', admin_task_path(task) %>

                <%= link_to 'Edit', edit_admin_task_path(task) %>

                <%= link_to 'Destroy', admin_task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Task', new_admin_task_path %>
    </div>
  </div>
</section>
