<section>
  <div class="container">
    <div class="col-sm-12 admin_form_heading">
      New Task
    </div>

    <div class="col-sm-12">
      <%= render 'form' %>
    </div>

    <div class="col-sm-12 admin_form_heading">
      <%= link_to 'Back', admin_tasks_path %>
    </div>
  </div>
</section>
