<section class="top_nav_container">
  <div class="col-sm-12 text-center">
    <nav>
      <ul class="list-inline top_nav_items_container inline_block">
        <li class="top_nav_item">
          <%= link_to "Courses", courses_path, class: "top_nav_link" %>
        </li>

        <li class="top_nav_item">
          <%= link_to "Videos", courses_path, class: "top_nav_link" %>
        </li>

        <li class="top_nav_item top_nav_item_logo">
          <%= link_to courses_path, class: "top_nav_link top_logo_link" do %>
            <%= image_tag("logo_bottom.png", class: "top_logo_img") %>
          <% end %>
        </li>

        <li class="top_nav_item">
          <%= link_to "Articles", courses_path, class: "top_nav_link" %>
        </li>

        <li class="top_nav_item">
          <%= link_to "Contacts", courses_path, class: "top_nav_link" %>
        </li>

        <% if false && current_user %>
          <li>
            <%= link_to current_user.email, "#", class: "top_nav_link nav_user_profile_link" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>

  <div class="clearfix"></div>
</section>
