<section>
  <div class="container">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <div class="col-sm-12 checkout_order_information">
          <span class="block checkout_order_information_inner">
            <%= @order.order_items.first.course.name %>
          </span>

          <span class="block courses_list_item_img_container">
            <%= image_tag @order.order_items.first.course.avatar.url(:medium), class: "img-responsive" %>
          </span>

          <span class="block courses_list_item_name heading">
            <%= @order.order_items.first.course.name %>
          </span>

          <span class="block courses_list_item_description">
            <%= @order.order_items.first.course.description %>
          </span>

          <span class="block courses_list_item_price heading">
            <%= @order.order_items.first.course.price %> €
          </span>
        </div>
      </div>

      <div class="col-sm-6">
        <% if current_user %>
          <div class="col-sm-12 checkout_payment_selection_form">
            <%= link_to "Pay", place_order_path, class: "checkout_place_order_btn btn btn-success" %>
          </div>
        <% else %>
          <div class="col-sm-12 notice_container">
            <p id="notice"><%= notice %></p>
          </div>

          <div class="col-sm-12 checkout_user_form">
            <%= simple_form_for @user, :url => checkout_user_create_path do |f| %>
              <%= f.input :first_name, input_html: { class: "admin_form_input" }, wrapper_html: { class: 'admin_form_input_container' } %>

              <%= f.input :last_name, input_html: { class: "admin_form_input" }, wrapper_html: { class: 'admin_form_input_container' } %>

              <%= f.input :email, input_html: { class: "admin_form_input" }, wrapper_html: { class: 'admin_form_input_container' } %>

              <%= f.input :password, input_html: { class: "admin_form_input" }, wrapper_html: { class: 'admin_form_input_container' } %>

              <%= f.button :submit, class: "btn btn-success" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
