<section>
  <div class="container">
    <div class="col-sm-12 admin_form_heading">
      Editing Module
    </div>

    <div class="col-sm-12 admin_form_heading">
      <%= render 'form', admin_course: @admin_course %>
    </div>

    <div class="col-sm-12 admin_form_heading">
      <%= link_to 'Back', admin_courses_path %>
    </div>
  </div>
</section>
