<section>
  <div class="container">
    <div class="col-sm-12 admin_form_heading">
      Modules
    </div>

    <div class="col-sm-12">
      <p id="notice"><%= notice %></p>

      <table class="table admin_table">
        <thead>
          <tr>
            <th>
              Name
            </th>

            <th>
              Course
            </th>

            <th>
              Order Number
            </th>

            <th>
              Active
            </th>
          </tr>
        </thead>

        <tbody>
          <% @course_modules.each do |course_module| %>
            <tr>
              <td>
                <%= course_module.name %>
              </td>

              <td>
                <%= course_module.course.name %>
              </td>

              <td>
                <%= course_module.order_number %>
              </td>

              <td>
                <%= course_module.active? %>
              </td>

              <td>
                <%= link_to 'Show', admin_course_module_path(course_module) %>

                <%= link_to 'Edit', edit_admin_course_module_path(course_module) %>

                <%= link_to 'Destroy', admin_course_module_path(course_module), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Module', new_admin_course_module_path %>
    </div>
  </div>
</section>
