<section>
  <div class="container">
    <div class="col-sm-12 admin_form_heading">
      New Module
    </div>

    <div class="col-sm-12">
      <%= render 'form', admin_course: @course %>
    </div>

    <div class="col-sm-12 admin_form_heading">
      <%= link_to 'Back', admin_course_modules_path %>
    </div>
  </div>
</section>
