<section>
  <div class="container">
    <div class="col-sm-12 text-center login_form_container">
      <span class="inline_block text-left login_inner_form_container">
        <span class="block login_form_heading">
          Log in
        </span>

        <span class="block login_form_heading">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <span class="block login_form_errors_container">
              <%= f.error_notification %>
            </span>

            <div class="form-inputs">
              <%= f.input :email, required: false, autofocus: true, input_html: { class: 'login_form_input' }, wrapper_html: { class: 'login_form_input_container' } %>
              <%= f.input :password, required: false, input_html: { class: 'login_form_input' }, wrapper_html: { class: 'login_form_input_container' } %>
              <%= f.input :remember_me, as: :boolean, input_html: { class: 'login_form_checkbox' }, wrapper_html: { class: 'login_form_input_container' } if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in", class: 'login_form_submit' %>
            </div>
          <% end %>
        </span>

        <%= render "devise/shared/links" %>
      </span>
    </div>
  </div>
</section>
