<%= simple_form_for [:admin, @category] do |f| %>
  <%= f.input :name, input_html: { class: "admin_form_input" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.button :submit, class: "btn btn-success" %>
<% end %>
