<section>
  <div class="container">
    <div class="col-sm-12 admin_form_heading">
      Categories
    </div>

    <div class="col-sm-12">
      <p id="notice"><%= notice %></p>

      <table class="table admin_table">
        <thead>
          <tr>
            <th>
              Name
            </th>

            <th>
              Actions
            </th>
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td>
                <%= category.name %>
              </td>

              <td>
                <%= link_to 'Edit', edit_admin_category_path(category) %>

                <%= link_to 'Destroy', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Category', new_admin_category_path %>
    </div>
  </div>
</section>
