<% if false %>

  <!-- <div class="well">
    <div class="row">
      <div class="col-xs-8">
        <h4><%= course.name %></small></h4>
      </div>
      <div class="col-xs-4">
        <%= form_for order_item, url: checkout_path do |f| %>
          <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency course.price %></span></h4>
          <div class="input-group pull-right">
            <%= f.hidden_field :quantity, value: 1, class: "form-control", min: 1 %>
            <div class="">
              <%= link_to "Open Course", education_course_path(course), class: "btn btn-success" %>
              <%= f.hidden_field :course_id, value: course.id %>
              <%= f.submit "Buy Course", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div> -->

<% end %>

<div class="col-sm-12 no_side_padding courses_list_item">
  <%= form_for order_item, url: checkout_path do |f| %>
    <%= f.hidden_field :course_id, value: course.id %>

    <div class="col-sm-7">
      <span class="block courses_list_item_img_container">
        <%= image_tag course.avatar.url(:medium), class: "img-responsive" %>
      </span>
    </div>

    <div class="col-sm-5">
      <span class="block courses_list_item_name heading">
        <%= course.name %>
      </span>

      <span class="block courses_list_item_description">
        <%= course.description %>
      </span>

      <span class="block courses_list_item_price heading text-right">
        <%= course.price %> €
      </span>

      <span class="block courses_list_item_btn_container">
        <span class="inline_block">
          <%= link_to "Look at details", course_path(course), class: "btn btn-primary courses_list_item_btn" %>
        </span>

        <span class="inline_block pull-right">
          <%= f.submit "Buy Course", class: "btn btn-success" %>
        </span>
      </span>
    </div>
  <% end %>
</div>
