<section class="courses_list_container">
  <div class="container">
    <div class="col-sm-12 courses_list_heading heading no_side_padding">
      Курсы
    </div>

    <div class="col-sm-12 courses_list_subheading no_side_padding">
      small heading about courses list
    </div>

    <% @courses.each_slice(1) do |courses_row| %>
      <div class="row">
        <div class="col-sm-12 courses_list_row">
          <% courses_row.each do |course| %>
            <%= render "course_row", course: course, order_item: @order_item %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>

</section>
