<section class="course_show_container">
  <div class="container">
    <div class="col-sm-12 no_side_padding">
      <%= form_for @order_item, url: checkout_path do |f| %>
        <%= f.hidden_field :course_id, value: @course.id %>

        <div class="col-sm-7">
          <span class="block courses_list_item_img_container">
            <%= image_tag @course.avatar.url(:medium), class: "img-responsive" %>
            <%# here should be video about course %>
          </span>
        </div>

        <div class="col-sm-5">
          <span class="block courses_list_item_name heading">
            <%= @course.name %>
          </span>

          <span class="block courses_list_item_description">
            <%= @course.description %>
          </span>

          <span class="block courses_list_item_price heading">
            <%= @course.price %> €
          </span>

          <span class="block courses_list_item_btn_container">
            <span class="inline_block">
              <%= f.submit "Buy Course", class: "btn btn-success" %>
            </span>
          </span>
        </div>
      <% end %>
    </div>

    <div class="col-sm-12 course_show_heading">
      <%= @course.name %>
    </div>

    <div class="col-sm-12 course_show_description">
      <%= @course.description %>
    </div>

    <div class="col-sm-12 course_show_subheading">
      Course Sample Videos
    </div>

    <div class="col-sm-12 course_show_videos_container no_side_padding">
      <div class="col-sm-4 course_show_videos_item">
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/290556837?title=0&byline=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        <%# here will be video embed %>
      </div>

      <div class="col-sm-4 course_show_videos_item">
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/76979871" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        <%# here will be video embed %>
      </div>

      <div class="col-sm-4 course_show_videos_item">
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/290556837?title=0&byline=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        <%# here will be video embed %>
      </div>
    </div>

    <div class="col-sm-12 course_show_subheading">
      Course User Photos
    </div>

    <div class="col-sm-12 course_show_photos_container no_side_padding">
      <div class="col-sm-3 course_show_photo_item">
        <a data-fancybox="gallery" rel="course_show_gallery" href="<%= asset_path "cakes/1.jpg" %>" class="course_show_gallery_img_link">
          <%= image_tag("cakes/1.jpg", class: "course_show_gallery_img img-responsive") %>
        </a>
      </div>

      <div class="col-sm-3 course_show_photo_item">
        <a data-fancybox="gallery" rel="course_show_gallery" href="<%= asset_path "cakes/2.jpg" %>" class="course_show_gallery_img_link">
          <%= image_tag("cakes/2.jpg", class: "course_show_gallery_img img-responsive") %>
        </a>
      </div>

      <div class="col-sm-3 course_show_photo_item">
        <a data-fancybox="gallery" rel="course_show_gallery" href="<%= asset_path "cakes/3.jpg" %>" class="course_show_gallery_img_link">
          <%= image_tag("cakes/3.jpg", class: "course_show_gallery_img img-responsive") %>
        </a>
      </div>

      <div class="col-sm-3 course_show_photo_item">
        <a data-fancybox="gallery" rel="course_show_gallery" href="<%= asset_path "cakes/4.jpg" %>" class="course_show_gallery_img_link">
          <%= image_tag("cakes/4.jpg", class: "course_show_gallery_img img-responsive") %>
        </a>
      </div>
    </div>
  </div>
</section>
