.show_on_desktop {
  display: block;
}

.show_on_mobile {
  display: none;
}

@media (max-width: 1024px) {
  .show_on_desktop {
    display: none !important;
  }

  .show_on_mobile {
    display: block !important;
  }
}

.font_size_12px {
  font-size: 12px !important;
}

.font_size_13px {
  font-size: 13px !important;
}

.font_size_14px {
  font-size: 14px !important;
}

.font_size_15px {
  font-size: 15px !important;
}

.font_size_16px {
  font-size: 16px !important;
}

.font_size_17px {
  font-size: 17px !important;
}

.font_size_18px {
  font-size: 18px !important;
}

.font_size_20px {
  font-size: 20px !important;
}

.font_size_22px {
  font-size: 22px !important;
}

.font_size_24px {
  font-size: 24px !important;
}

.font_size_26px {
  font-size: 26px !important;
}

.font_size_30px {
  font-size: 30px !important;
}

.font_size_32px {
  font-size: 32px !important;
}

.font_size_36px {
  font-size: 36px !important;
}

.font_size_40px {
  font-size: 40px !important;
}

.font_size_44px {
  font-size: 44px !important;
}

.font_size_48px {
  font-size: 48px !important;
}

.font_size_50px {
  font-size: 50px !important;
}

.font_size_55px {
  font-size: 55px !important;
}

.font_size_60px {
  font-size: 60px !important;
}

.font_size_70px {
  font-size: 70px !important;
}

.font_size_100px {
  font-size: 100px !important;
}

.font_size_120px {
  font-size: 120px !important;
}

.font_weight_light {
  font-weight: 300 !important;
}

.font_weight_regular {
  font-weight: 400 !important;
}

.font_weight_semi_bold {
  font-weight: 600 !important;
}

.font_weight_bold {
  font-weight: 700 !important;
}


.no_top_bottom_padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.no_side_padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.no_left_padding {
  padding-left: 0px !important;
}

.no_right_padding {
  padding-right: 0px !important;
}

.zero_margin {
  margin: 0 !important;
}

.zero_padding {
  padding: 0 !important;
}

.padding_top_0px {
  padding-top: 0px !important;
}

.padding_top_5px {
  padding-top: 5px !important;
}

.padding_top_8px {
  padding-top: 8px !important;
}

.padding_top_10px {
  padding-top: 10px !important;
}

.padding_top_15px {
  padding-top: 15px !important;
}

.padding_top_20px {
  padding-top: 20px !important;
}

.padding_top_25px {
  padding-top: 25px !important;
}

.padding_top_30px {
  padding-top: 30px !important;
}

.padding_top_35px {
  padding-top: 35px !important;
}

.padding_top_40px {
  padding-top: 40px !important;
}

.padding_top_45px {
  padding-top: 45px !important;
}

.padding_top_50px {
  padding-top: 50px !important;
}

.padding_top_60px {
  padding-top: 60px !important;
}

.padding_top_65px {
  padding-top: 65px !important;
}

.padding_top_70px {
  padding-top: 70px !important;
}

.padding_top_80px {
  padding-top: 80px !important;
}

.padding_top_90px {
  padding-top: 90px !important;
}

.padding_top_100px {
  padding-top: 100px !important;
}

.padding_top_110px {
  padding-top: 110px !important;
}

.padding_top_120px {
  padding-top: 120px !important;
}

.padding_top_125px {
  padding-top: 125px !important;
}

.padding_top_130px {
  padding-top: 130px !important;
}

.padding_top_140px {
  padding-top: 140px !important;
}

.padding_top_150px {
  padding-top: 150px !important;
}

.padding_top_200px {
  padding-top: 200px !important;
}

.padding_top_250px {
  padding-top: 250px !important;
}

.padding_bottom_0px {
  padding-bottom: 0px !important;
}

.padding_bottom_5px {
  padding-bottom: 5px !important;
}

.padding_bottom_10px {
  padding-bottom: 10px !important;
}

.padding_bottom_15px {
  padding-bottom: 15px !important;
}

.padding_bottom_20px {
  padding-bottom: 20px !important;
}

.padding_bottom_25px {
  padding-bottom: 25px !important;
}

.padding_bottom_30px {
  padding-bottom: 30px !important;
}

.padding_bottom_40px {
  padding-bottom: 40px !important;
}

.padding_bottom_50px {
  padding-bottom: 50px !important;
}

.padding_bottom_60px {
  padding-bottom: 60px !important;
}

.padding_bottom_70px {
  padding-bottom: 70px !important;
}

.padding_bottom_80px {
  padding-bottom: 80px !important;
}

.padding_bottom_90px {
  padding-bottom: 90px !important;
}

.padding_bottom_100px {
  padding-bottom: 100px !important;
}

.padding_bottom_110px {
  padding-bottom: 110px !important;
}

.padding_bottom_120px {
  padding-bottom: 120px !important;
}

.padding_bottom_130px {
  padding-bottom: 130px !important;
}

.padding_bottom_140px {
  padding-bottom: 140px !important;
}

.padding_bottom_150px {
  padding-bottom: 150px !important;
}

.padding_bottom_200px {
  padding-bottom: 200px !important;
}

.padding_left_right_0px {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.padding_left_right_5px {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.padding_left_right_10px {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.padding_left_right_15px {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.padding_left_right_20px {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.padding_left_right_25px {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.padding_left_right_30px {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.padding_left_right_40px {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.padding_left_right_45px {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.padding_left_right_50px {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.padding_left_right_65px {
  padding-left: 65px !important;
  padding-right: 65px !important;
}

.padding_left_right_75px {
  padding-left: 75px !important;
  padding-right: 75px !important;
}

.padding_left_right_100px {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.padding_left_0px {
  padding-left: 0px !important;
}

.padding_left_5px {
  padding-left: 5px !important;
}

.padding_left_10px {
  padding-left: 10px !important;
}

.padding_left_15px {
  padding-left: 15px !important;
}

.padding_left_20px {
  padding-left: 20px !important;
}

.padding_left_30px {
  padding-left: 30px !important;
}

.padding_left_40px {
  padding-left: 40px !important;
}

.padding_left_50px {
  padding-left: 50px !important;
}

.padding_left_60px {
  padding-left: 60px !important;
}

.padding_left_70px {
  padding-left: 70px !important;
}

.padding_right_0px {
  padding-right: 0px !important;
}

.padding_right_5px {
  padding-right: 5px !important;
}

.padding_right_10px {
  padding-right: 10px !important;
}

.padding_right_15px {
  padding-right: 15px !important;
}

.padding_right_20px {
  padding-right: 20px !important;
}

.padding_right_30px {
  padding-right: 30px !important;
}

.padding_right_40px {
  padding-right: 40px !important;
}

.padding_right_50px {
  padding-right: 50px !important;
}

.padding_right_60px {
  padding-right: 60px !important;
}

.padding_right_70px {
  padding-right: 70px !important;
}

.padding_right_80px {
  padding-right: 80px !important;
}

.padding_right_90px {
  padding-right: 90px !important;
}

.padding_right_100px {
  padding-right: 100px !important;
}

.margin_top_minus_10px {
  margin-top: -10px;
}

.margin_top_5px {
  margin-top: 5px;
}

.margin_top_10px {
  margin-top: 10px;
}

.margin_top_15px {
  margin-top: 15px;
}

.margin_top_20px {
  margin-top: 20px;
}

.margin_top_25px {
  margin-top: 25px;
}

.margin_top_30px {
  margin-top: 30px;
}

.margin_top_40px {
  margin-top: 40px;
}

.margin_top_50px {
  margin-top: 50px;
}

.margin_top_70px {
  margin-top: 70px;
}

.margin_bottom_20px {
  margin-bottom: 20px;
}

.margin_left_minus_5px {
  margin-left: -5px;
}

.margin_left_5px {
  margin-left: 5px;
}

.margin_left_10px {
  margin-left: 10px;
}

.margin_left_20px {
  margin-left: 20px;
}

.margin_left_25px {
  margin-left: 25px;
}

.margin_left_30px {
  margin-left: 30px;
}

.margin_left_40px {
  margin-left: 40px;
}

.margin_right_5px {
  margin-right: 5px;
}

.margin_right_10px {
  margin-right: 10px;
}

.center_image {
  margin-left: auto;
  margin-right: auto;
}

.uppercase {
  text-transform: uppercase;
}

.no_style_list {
  list-style: none;
}

.vcenter {
  display: table-cell;
  vertical-align: middle;
  float: none !important;
}

.white_text {
  color: #fff !important;
}

.grey_text {
  color: #818181;
}

.block {
  display: block !important;
}

.half_width_block {
  width: calc(50% - 4px);
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;

  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;

  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.

     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.relative {
  position: relative;
}

.width_100 {
  width: 100% !important;
}

.inline_block {
  display: inline-block;
}

@media (max-width: 1024px) {
  .mobile_padding_top_0px {
    padding-top: 0px !important;
  }

  .mobile_padding_top_5px {
    padding-top: 5px !important;
  }

  .mobile_padding_top_10px {
    padding-top: 10px !important;
  }

  .mobile_padding_top_15px {
    padding-top: 15px !important;
  }

  .mobile_padding_top_20px {
    padding-top: 20px !important;
  }

  .mobile_padding_top_30px {
    padding-top: 30px !important;
  }

  .mobile_padding_top_40px {
    padding-top: 40px !important;
  }

  .mobile_padding_top_50px {
    padding-top: 50px !important;
  }

  .mobile_padding_top_80px {
    padding-top: 100px !important;
  }

  .mobile_padding_bottom_0px {
    padding-bottom: 0px !important;
  }

  .mobile_padding_bottom_10px {
    padding-bottom: 10px !important;
  }

  .mobile_padding_bottom_20px {
    padding-bottom: 20px !important;
  }

  .mobile_padding_bottom_30px {
    padding-bottom: 30px !important;
  }

  .mobile_padding_bottom_40px {
    padding-bottom: 40px !important;
  }

  .mobile_padding_bottom_50px {
    padding-bottom: 50px !important;
  }

  .mobile_padding_bottom_60px {
    padding-bottom: 60px !important;
  }

  .mobile_padding_bottom_80px {
    padding-bottom: 100px !important;
  }

  .mobile_padding_left_0px {
    padding-left: 0px !important;
  }

  .mobile_padding_left_15px {
    padding-left: 15px !important;
  }

  .mobile_padding_right_0px {
    padding-right: 0px !important;
  }

  .mobile_padding_right_15px {
    padding-right: 15px !important;
  }

  .mobile_padding_left_right_0px {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .mobile_padding_left_right_5px {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .mobile_padding_left_right_10px {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .mobile_padding_left_right_15px {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .mobile_padding_left_right_30px {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .mobile_text_left {
    text-align: left !important;
  }

  .mobile_text_center {
    text-align: center !important;
  }

  .mobile_center_image {
    display: block;
    margin: 0 auto !important;
  }

  .mobile_no_side_padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .mobile_font_size_16px {
    font-size: 16px !important;
  }

  .mobile_font_size_18px {
    font-size: 18px !important;
  }

  .mobile_font_size_22px {
    font-size: 22px !important;
  }

  .mobile_font_size_25px {
    font-size: 25px !important;
  }

  .mobile_font_size_30px {
    font-size: 30px !important;
  }

  .mobile_font_size_40px {
    font-size: 40px !important;
  }

  .mobile_width_33 {
    width: 33% !important;
    float: left !important;
  }

  .mobile_width_50 {
    width: 50% !important;
    float: left !important;
  }

  .mobile_width_66 {
    width: 66% !important;
    float: left !important;
  }

  .mobile_width_80 {
    width: 80% !important;
    /*float: left !important;*/
  }

  .mobile_width_100 {
    width: 100% !important;
    /*float: left !important;*/
  }

  .mobile_offset_10 {
    margin-left: 10%;
  }

  .mobile_pull_left {
    float: left;
  }

  .mobile_no_background_image {
    background-image: none !important;
  }

  .mobile_top_full_block {
    min-height: 550px;
  }

  .top_left_logo_container {
    float: left;
    text-align: center;
    padding: 10px 0;
    border-right: none;
  }

  .mobile_img_responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .mobile_max_height_300px {
    max-height: 300px;
  }

  .mobile_max_height_80px {
    max-height: 80px !important;
  }

  .agency_signup_form .form-group {
    padding: 10px 5px 0 5px;
  }

  .mobile_margin_top_0px {
    margin-top: 0px !important;
  }

  .mobile_margin_top_20px {
    margin-top: 20px !important;
  }

  .mobile_margin_top_50px {
    margin-top: 50px !important;
  }

  .mobile_margin_left_0px {
    margin-left: 0px !important;
  }

  .mobile_margin_left_10px {
    margin-left: 10px !important;
  }

  .mobile_margin_top_80px {
    margin-top: 80px;
  }

  .mobile_block {
    display: block !important;
  }

  .mobile_center_block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .mobile_justify_center {
    display: flex !important;
    justify-content: center !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: calc(100% - 100px);
  }
}

@media (max-width: 768px) {
  .small_mobile_padding_top_30px {
    padding-top: 30px !important;
  }
}

.italic {
  font-style: italic;
}

.text-center {
  text-align: center !important;
}

.invis {
  visibility: hidden;
  position: absolute;
  top: -1000px
}

@media (min-width: 1024px) {
  .justify_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex {
    display: flex;
    align-items: center;
  }
}
