html, body {
  font-family: 'Ubuntu Condensed', sans-serif;
  height: 100%;
}

.heading {
  font-family: 'Cuprum', sans-serif;
  font-weight: 700;
}

.top_nav_container {
  padding: 15px 0 30px;
  -webkit-box-shadow: 0px 10px 10px -8px rgba(201,201,201,1);
  -moz-box-shadow: 0px 10px 10px -8px rgba(201,201,201,1);
  box-shadow: 0px 10px 10px -8px rgba(201,201,201,1);

  .top_nav_items_container {
    margin: 0;
    padding: 0;

    .top_nav_item {
      margin: 0 30px;

      &.top_nav_item_logo {
        .top_logo_img {
          max-height: 150px;
        }
      }

      .top_nav_link {
        color: #333;
        font-size: 22px;
        transition: all 0.4s ease;
        padding-bottom: 10px;
        border-bottom: 3px solid transparent;
        display: inline-block;

        &.top_logo_link {
          border: none;
          padding: 0;
        }

        &:hover, &:focus {
          color: #404040;
          text-decoration: none;
          outline: none;
          border-color: #b38a28;
        }
      }
    }
  }
}

.courses_list_container {
  padding-top: 50px;

  .courses_list_heading {
    font-size: 36px;
    line-height: 38px;
  }

  .courses_list_subheading {
    font-size: 20px;
  }

  .courses_list_row {
    padding: 20px 0 20px 0;

    &:first-of-type {
      padding-top: 30px;
    }
  }

  .courses_list_item_img_container {
    img {
      border: 3px solid #987715;
    }
  }

  .courses_list_item_name {
    font-size: 20px;
    padding-top: 10px;
  }

  .courses_list_item_description {
    font-size: 16px;
    padding-top: 5px;
  }

  .courses_list_item_price {
    font-size: 26px;
    color: #12791c;
    padding-top: 10px;
    margin-top: 15px;
    border-top: 1px solid #ccc;
  }

  .courses_list_item_btn_container {
    padding-top: 5px;
  }
}

.login_form_container {
  padding-top: 100px;

  @media (max-width: 768px) {
    padding-top: 30px;
  }

  .login_inner_form_container {
    width: 400px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
