<section>
  <div class="container">
    <div class="col-sm-12 admin_form_heading">
      Editing User
    </div>

    <div class="col-sm-12 admin_form_heading">
      <%= render 'form' %>
    </div>

    <div class="col-sm-12 admin_form_heading">
      <%= link_to 'Back', admin_users_path %>
    </div>
  </div>
</section>
