<section>
  <div class="container">
    <div class="col-sm-12 admin_form_heading">
      Users
    </div>

    <div class="col-sm-12">
      <p id="notice"><%= notice %></p>

      <table class="table admin_table">
        <thead>
          <tr>
            <th>
              Name
            </th>

            <th>
              Email
            </th>

            <th>
              Avatar
            </th>

            <th>
              Actions
            </th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= user.full_name %>
              </td>

              <td>
                <%= user.email %>
              </td>

              <td>
                <%= image_tag user.avatar.url(:thumb) %>
              </td>

              <td>
                <%= link_to 'Show', admin_user_path(user) %>

                <%= link_to 'Edit', edit_admin_user_path(user) %>

                <%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New User', new_admin_user_path %>
    </div>
  </div>
</section>
