<%= simple_form_for [:admin, @video] do |f| %>
  <%= f.input :url, input_html: { class: "admin_form_input" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :embed_code, input_html: { class: "admin_form_input textarea" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :price, input_html: { class: "admin_form_input" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.association :lesson, prompt: "Choose a lesson", wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.button :submit, class: "btn btn-success" %>
<% end %>
