<section>
  <div class="container">
    <div class="col-sm-12 admin_form_heading">
      Videos
    </div>

    <div class="col-sm-12">
      <p id="notice"><%= notice %></p>

      <table class="table admin_table">
        <thead>
          <tr>
            <th>
              Url
            </th>

            <th>
              Code
            </th>

            <th>
              Price
            </th>

            <th>
              Lesson
            </th>

            <th>
              Actions
            </th>
          </tr>
        </thead>

        <tbody>
          <% @videos.each do |video| %>
            <tr>
              <td>
                <%= link_to "Video Link", video.url %>
              </td>

              <td>
                <%= video.embed_code.html_safe %>
              </td>

              <td>
                <%= video.price %>
              </td>

              <td>
                <%= video.lesson.name %>
              </td>

              <td>
                <%= link_to 'Show', admin_video_path(video) %>

                <%= link_to 'Edit', edit_admin_video_path(video) %>

                <%= link_to 'Destroy', admin_video_path(video), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Video', new_admin_video_path %>
    </div>
  </div>
</section>
