<%= simple_form_for [:admin, @course] do |f| %>
  <%= f.input :name, input_html: { class: "admin_form_input" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :description, input_html: { class: "admin_form_input textarea" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :price, input_html: { class: "admin_form_input" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.association :category, prompt: "Choose a category", wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.association :teachers,   as: :check_boxes, label_method: :full_name, input_html: { class: "admin_form_checkbox" }, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :cover_photo, as: :file, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :avatar, as: :file, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.input :active, wrapper_html: { class: 'admin_form_input_container' } %>

  <%= f.button :submit, class: "btn btn-success" %>
<% end %>
