<section>
  <div class="container">
    <div class="col-sm-12 admin_form_heading">
      Courses
    </div>

    <div class="col-sm-12">
      <p id="notice"><%= notice %></p>

      <table class="table admin_table">
        <thead>
          <tr>
            <th>
              Name
            </th>

            <th>
              Category
            </th>

            <th>
              Price
            </th>

            <th>
              Teachers
            </th>

            <th>
              Cover
            </th>

            <th>
              Avatar
            </th>

            <th>
              Active
            </th>

            <th>
              Actions
            </th>
          </tr>
        </thead>

        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td>
                <%= course.name %>
              </td>

              <td>
                <%= course.category.name %>
              </td>

              <td>
                <%= course.price %>€
              </td>

              <td>
                <% course.teachers.each do |teacher| %>
                  <%= teacher.full_name %>
                  <br>
                <% end %>
              </td>

              <td>
                <%= image_tag course.cover_photo.url(:thumb) %>
              </td>

              <td>
                <%= image_tag course.avatar.url(:thumb) %>
              </td>

              <td>
                <%= course.active? %>
              </td>

              <td>
                <%= link_to 'Show', admin_course_path(course) %>

                <%= link_to 'Edit', edit_admin_course_path(course) %>

                <%= link_to 'Destroy', admin_course_path(course), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Course', new_admin_course_path %>
    </div>
  </div>
</section>
