<!DOCTYPE html>
<html>
  <head>
    <title>BakingSchool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <section class="admin_nav_container">
      <div class="col-sm-12 no_side_padding">
        <div class="col-sm-3">
          <%= image_tag("", class: "admin_nav_logo_img") %>
        </div>

        <div class="col-sm-9">
          <ul class="list-inline">
            <li>
              <%= link_to "Courses", admin_courses_path, class: "admin_nav_item_link" %>
            </li>

            <li>
              <%= link_to "Modules", admin_course_modules_path, class: "admin_nav_item_link" %>
            </li>

            <li>
              <%= link_to "Lessons", admin_lessons_path, class: "admin_nav_item_link" %>
            </li>

            <li>
              <%= link_to "Videos", admin_videos_path, class: "admin_nav_item_link" %>
            </li>

            <li>
              <%= link_to "Tasks", admin_tasks_path, class: "admin_nav_item_link" %>
            </li>

            <li>
              <%= link_to "Teachers", admin_teachers_path, class: "admin_nav_item_link" %>
            </li>

            <li>
              <%= link_to "Categories", admin_categories_path, class: "admin_nav_item_link" %>
            </li>

            <li>
              <%= link_to "Articles", admin_articles_path, class: "admin_nav_item_link" %>
            </li>

            <!-- <li>
              <%= link_to "Videos", "#", class: "admin_nav_item_link" %>
            </li>

            <li>
              <%= link_to "Photos", "#", class: "admin_nav_item_link" %>
            </li> -->

            <li>
              <%= link_to "Users", admin_users_path, class: "admin_nav_item_link" %>
            </li>

            <li>
              <%= link_to "Orders", admin_orders_path, class: "admin_nav_item_link" %>
            </li>
          </ul>
        </div>
      </div>

      <div class="clearfix"></div>
    </section>
    <%= yield %>
  </body>
</html>
